<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Course</title>
    <link rel="stylesheet" href="{% static 'attendace/css/edit-course.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Edit Course: {{ course.course_code }}</h1>
        </header>
        <main>
            <form method="post" action={% url 'attendace:edit-course' course.id%}>
                {% csrf_token %}
                

                <div class="form-group">
                    <label for="course_title">Course Title</label>
                    <input type="text" id="course_title" name="course_title" value="{{ course.course_title }}">
                </div>
                <div class="form-group">
                    <label for="course_code">Course Code</label>
                    <input type="text" id="course_code" name="course_code" value="{{ course.course_code }}">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" name="description">{{ course.description }}</textarea>
                </div>

                <div class="form-group">
                    <label for="requirements">Requirements</label>
                    <textarea id="requirements" name="requirements">{{ course.requirements }}</textarea>
                </div>
                <div class="form-group">
                    <label for="start_date">Start Date</label>
                    <input type="date" id="start_date" name="start_date" value="{{ course.start_date }}">
                </div>
                <div class="form-group">
                    <label for="end_date">End Date</label>
                    <input type="date" id="end_date" name="end_date" value="{{ course.end_date }}">
                </div>
                <a href="{% url 'attendace:teacher-dashboard' %}" class="btn-back">Back</a>
                <div class="form-group">
                    <button type="submit" class="btn-submit">Update Course</button>
                </div>
            </form>
        </main>
    </div>
</body>
</html>
