<!DOCTYPE html>
<html lang="en" >
  {% load static %}
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="{% static 'accounts/css/style.css'%}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
	<div class="form-container sign-in-container">
    <form method="POST">
      {% csrf_token %}
        <h1>STUDENT ACCOUNT</h1>
        <input type="text" name="username" id="id_username" class="form__input" placeholder="Username" required autofocus>
        {% if form.username.errors %}
                 <div class="error">{{ form.username.errors }}</div>
             {% endif %}
       <input type="password" name="password" id="id_password" class="form__input" placeholder="Password" required>
       {% if form.password.errors %}
                 <div class="error">{{ form.password.errors }}</div>
             {% endif %}
		  <a href="#">Forgot your password?</a>
          <button type="submit">SIGN IN</button>
          <p style='padding-top:10px;'>Do not have an account?<a href={% url 'accounts:student-signup' %} style='font-size:12px; color:#4CAF50;'> Create Account</a></p>
    </form>
	</div>

	<div class="overlay-container" id="oVER">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
			<h1>Welcome Back!</h1>
            <p>
                Focus on work that matterss
            </p>
            <a href={% url 'accounts:teacher-login' %}><button class="ghost" id="signUp">Not a Student?</button></a>
        </div>
    </div>
	</div>
</div>
</body>
</html>