<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load custom_filters %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{% static 'attendace/css/teacher-dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <style>
        a {
            text-decoration: none; /* Remove underline */
            color: inherit; /* Use the default text color */
        }
    </style>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <h2>Dashboard</h2>
            <button class="toggle-btn" onclick="toggleSidebar()">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <ul class="nav-links">
            
            <li><a href="{% url 'attendace:student-dashboard' %}"><i class="fas fa-book"></i> Enrolled Courses</a></li>
            <li><a href="{% url 'attendace:available-courses' %}"><i class="fas fa-users"></i> Available Courses</a></li>
            <li><a href="{% url 'attendace:update-profile' %}"><i class="fas fa-users"></i> Profile</a></li>
            <li><a href="#" id='logout-link'><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
    </div>
    <div class="main-content" id="main-content">
        <header>
            <div class='header-container'>
                <h1>@{{user.username}} dashboard</h1>
            </div>
        </header>
        <main>
            <h2>Enrolled Courses</h2>
            <div class="courses">
                {% for course in enrolled_courses %}
                <div class="course-card">
                    <a href = {% url 'attendace:course-detail' course.id%}><h3>{{course.course_title}}</h3></a>
                    <h4>{{course.course_code}}</h4>
                    <p>{{course.description|first_sentence}}</p>
                    
                </div>
                {% endfor %}
            </div>
        </main>
    </div>
    <script>
        document.getElementById('logout-link').addEventListener('click', function(event){
            console.log('the logout button was clicked');
            event.preventDefault(); //To prevent the default action 
            var logouturl = "{% url 'logout' %}";
            if (confirm('Are yoou sure you want to log out')){
                window.location.href = logouturl
            }
        });
    </script>
   
</body>
</html>

